{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Masthead-->
<header class="masthead">
  <div class="container ">
    <div class="masthead-subheading" style="text-shadow: 2px 2px #333;">So Much More Than A Machine Shop</div>
    <div class="masthead-heading text-uppercase">
      Progressive Solutions, Traditional Values.
    </div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#services"
      >Tell Me More</a
    >
  </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Services</h2>
      <h3 class="section-subheading text-muted">
        Since 1918, we at Murray Latta Progressive Machine have established
        ourselves as leaders of custom industrial machinery manufacturing, parts
        & equipment distribution, and millwrighting & machinery moving
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-industry fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">CUSTOM MACHINERY MANUFACTURING</h4>
        <p class="text-muted">
          We operate in a full-service, fully-equipped 60,000 sq ft
          manufacturing facility. Services offered include design & detailing,
          CNC & conventional machining, metal fabrication & welding, and
          equipment modification, overhaul & rebuild.
        </p>
{#        <div class="text-center">#}
{#          <a href="/manufacturing" class="btn btn-primary">Read More</a>#}
{#        </div>#}
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-truck-loading fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">EQUIPMENT & PARTS DISTRIBUTION</h4>
        <p class="text-muted">
          We are trusted distributors of planermill and sawmill equipment,
          retrofit upgrades, parts, consumables & repairs throughout Western
          Canada and the United States. We also provide training, installation,
          maintenance & repair on all equipment we distribute.
        </p>
{#        <div class="text-center">#}
{#          <a href="/equipment-and-parts-distribution" class="btn btn-primary"#}
{#            >Read More</a#}
{#          >#}
{#        </div>#}
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-truck-moving fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">MILLWRIGHTING & MACHINERY MOVING</h4>
        <p class="text-muted">
          We provide machinery installation, maintenance & repair, as well as
          field fabricating, welding, pipefitting, machining & millwrighting
          on-site. We also offer complete plant moves & equipment moving, and
          assist with plant shutdowns & teardowns.
        </p>
{#        <div class="text-center">#}
{#          <a href="/millwrighting-and-machinery-moving" class="btn btn-primary"#}
{#            >Read More</a#}
{#          >#}
{#        </div>#}
      </div>
    </div>
  </div>
</section>
{#TODO Update the Portfolio Grid#}
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <h3 class="section-subheading text-muted">
        Tried and true traditional values of getting it right for our customers
        has been the foundation of our stability, and we still abide by these
        guiding principles today.
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal1"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="{% static 'mlp_website/assets/img/portfolio/seymourDam.png' %}"
              alt="..."
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Advanced Applications</div>
            <div class="portfolio-caption-subheading text-muted">
              Seymour Dam
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 2-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal2"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="{% static 'mlp_website/assets/img/portfolio/canningMachineRetort.png' %}"
              alt="..."
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Industrial</div>
            <div class="portfolio-caption-subheading text-muted">
              Canning Machine Retort
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 3-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal3"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="{% static 'mlp_website/assets/img/portfolio/laserAlignment.png' %}"
              alt="..."
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Installation</div>
            <div class="portfolio-caption-subheading text-muted">Laser Alignment</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <!-- Portfolio item 4-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal4"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="{% static 'mlp_website/assets/img/portfolio/knifeGateValves.png' %}"
              alt="..."
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Reliable</div>
            <div class="portfolio-caption-subheading text-muted">Knife Gate Valves</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
        <!-- Portfolio item 5-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal5"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="{% static 'mlp_website/assets/img/portfolio/sideHead.png' %}"
              alt="..."
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Forestry</div>
            <div class="portfolio-caption-subheading text-muted">
              Planer Side Head
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- Portfolio item 6-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal6"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="{% static 'mlp_website/assets/img/portfolio/turbine.png' %}"
              alt="..."
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Precision</div>
            <div class="portfolio-caption-subheading text-muted">
              Turbine
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">
        <span style="font-weight: bolder; color: #212529"
          >Although Murray Latta Progressive Machine has changed a lot over the
          past 100 years, what hasn’t changed is our pride in workmanship and
          dedication to providing the highest customer service experience; </span
        >this has been the key to our longevity. We hire skilled, experienced
        and certified tradespersons, and we make sure all equipment and
        materials we use are fit for optimal performance. We do this because we
        believe in putting quality and safety first – because it isn’t just our
        reputation on the line, it’s yours as well. We stand behind our work,
        every time. Guaranteed. So now, you’ll understand our motto: Progressive
        Solutions, Traditional Values.
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="{% static 'mlp_website/assets/img/about/1.jpg' %}"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>1918</h4>
            <h4 class="subheading">Our Humble Beginnings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              At Murray Latta Progressive Machine we are so much more than a
              typical machine shop. What started out in 1918 with Murray-Latta
              Machine as a custom machinery manufacturer and steel fabrication
              shop, quickly expanded to include field millwright and project
              management services.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="{% static "mlp_website/assets/img/about/2.jpg" %}"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>1954</h4>
            <h4 class="subheading">Beginning of Progressive Mill Supplies</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Through Progressive Mill Supplies beginning in 1954, we’ve been
              distributing capital equipment, parts and consumables to the
              forestry sector, while offering equipment upgrades, installation,
              maintenance and repair.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="{% static 'mlp_website/assets/img/about/3.jpg' %}"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2009</h4>
            <h4 class="subheading">
              Official Merger of Murray-Latta Machine and Progressive Mills
              Supplies
            </h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Murray Latta Progressive Machine is the official 2009 merger of
              two very established companies:
              <span style="font-weight: bolder; color: #212529"
                >Mill Supplies (est. 1954)</span
              >
              and
              <span style="font-weight: bolder; color: #212529"
                >Murray-Latta Machine (est. 1918)</span
              >. Prior to the merge, both companies had been working together
              for over 50 years, with common ownership since 1988.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="{% static 'mlp_website/assets/img/about/4.jpg' %}"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2013 - 2018</h4>
            <h4 class="subheading">Addtional Acquistions</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Murray Latta Progressive Machine has since acquired the assets of
              Brunette Industries (est. 1920's) in 2013, resulting in the
              formation of a separate distribution company:
              <span style="font-weight: bolder; color: #212529"
                >Brunette Machinery Company</span
              >. Recently in 2018 Murray Latta Progressive Machine has acquired
              the operations of
              <span style="font-weight: bolder; color: #212529"
                >Kimwood Machinery Inc.</span
              >, a Cottage Grove, Oregon based manufacturer of machinery for the
              forest products industries with more than 70 years of experience.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
{#    TODO Add in Sales Team Landing Page#}
{#<!-- Team-->#}
{#<section class="page-section bg-light" id="team">#}
{#  <div class="container">#}
{#    <div class="text-center">#}
{#      <h2 class="section-heading text-uppercase">Our Sales Team</h2>#}
{#      <h3 class="section-subheading text-muted">#}
{#        Lorem ipsum dolor sit amet consectetur.#}
{#      </h3>#}
{#    </div>#}
{#    <div class="row">#}
{#      <div class="col-lg-4">#}
{#        <div class="team-member">#}
{#          <img#}
{#            class="mx-auto rounded-circle"#}
{#            src="{% static 'mlp_website/assets/img/team/1.jpg' %}"#}
{#            alt="..."#}
{#          />#}
{#          <h4>Parveen Anand</h4>#}
{#          <p class="text-muted">Lead Designer</p>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-twitter"></i#}
{#          ></a>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-facebook-f"></i#}
{#          ></a>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-linkedin-in"></i#}
{#          ></a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-lg-4">#}
{#        <div class="team-member">#}
{#          <img#}
{#            class="mx-auto rounded-circle"#}
{#            src="{% static 'mlp_website/assets/img/team/2.jpg' %}"#}
{#            alt="..."#}
{#          />#}
{#          <h4>Diana Petersen</h4>#}
{#          <p class="text-muted">Lead Marketer</p>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-twitter"></i#}
{#          ></a>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-facebook-f"></i#}
{#          ></a>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-linkedin-in"></i#}
{#          ></a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-lg-4">#}
{#        <div class="team-member">#}
{#          <img#}
{#            class="mx-auto rounded-circle"#}
{#            src="{% static 'mlp_website/assets/img/team/3.jpg' %}"#}
{#            alt="..."#}
{#          />#}
{#          <h4>Larry Parker</h4>#}
{#          <p class="text-muted">Lead Developer</p>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-twitter"></i#}
{#          ></a>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-facebook-f"></i#}
{#          ></a>#}
{#          <a class="btn btn-dark btn-social mx-2" href="#!"#}
{#            ><i class="fab fa-linkedin-in"></i#}
{#          ></a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="row">#}
{#      <div class="col-lg-8 mx-auto text-center">#}
{#        <p class="large text-muted">#}
{#          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,#}
{#          laboriosam veritatis, quos non quis ad perspiciatis, totam corporis#}
{#          ea, alias ut unde.#}
{#        </p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{#    TODO Add in Clients#}
{#<!-- Clients-->#}
{#<div class="py-5">#}
{#  <div class="container">#}
{#    <div class="row align-items-center">#}
{#      <div class="col-md-3 col-sm-6 my-3">#}
{#        <a href="#!"#}
{#          ><img#}
{#            class="img-fluid img-brand d-block mx-auto"#}
{#            src="{% static 'mlp_website/assets/img/logos/microsoft.svg' %}"#}
{#            alt="..."#}
{#        /></a>#}
{#      </div>#}
{#      <div class="col-md-3 col-sm-6 my-3">#}
{#        <a href="#!"#}
{#          ><img#}
{#            class="img-fluid img-brand d-block mx-auto"#}
{#            src="{% static 'mlp_website/assets/img/logos/google.svg' %}"#}
{#            alt="..."#}
{#        /></a>#}
{#      </div>#}
{#      <div class="col-md-3 col-sm-6 my-3">#}
{#        <a href="#!"#}
{#          ><img#}
{#            class="img-fluid img-brand d-block mx-auto"#}
{#            src="{% static 'mlp_website/assets/img/logos/facebook.svg' %}"#}
{#            alt="..."#}
{#        /></a>#}
{#      </div>#}
{#      <div class="col-md-3 col-sm-6 my-3">#}
{#        <a href="#!"#}
{#          ><img#}
{#            class="img-fluid img-brand d-block mx-auto"#}
{#            src="{% static 'mlp_website/assets/img/logos/ibm.svg' %}"#}
{#            alt="..."#}
{#        /></a>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="section-subheading text-muted">
        Feel free to reach out.
      </h3>
        <h3 class="section-heading">
        Phone: 604-599-9598
      </h3>
        <h3 class="section-heading">
        Sales: sales@mlpmachine.com
      </h3>
    </div>

    <!-- * * * * * * * * * * * * * * *-->
    <!-- * * SB Forms Contact Form * *-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- This form is pre-integrated with SB Forms.-->
    <!-- To make this form functional, sign up at-->
    <!-- https://startbootstrap.com/solution/contact-forms-->
    <!-- to get an API token!-->
{#      TODO Contact Form#}
{#    <form id="contactForm" data-sb-form-api-token="API_TOKEN">#}
{#      <div class="row align-items-stretch mb-5">#}
{#        <div class="col-md-6">#}
{#          <div class="form-group">#}
{#            <!-- Name input-->#}
{#            <input#}
{#              class="form-control"#}
{#              id="name"#}
{#              type="text"#}
{#              placeholder="Your Name *"#}
{#              data-sb-validations="required"#}
{#            />#}
{#            <div class="invalid-feedback" data-sb-feedback="name:required">#}
{#              A name is required.#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group">#}
{#            <!-- Email address input-->#}
{#            <input#}
{#              class="form-control"#}
{#              id="email"#}
{#              type="email"#}
{#              placeholder="Your Email *"#}
{#              data-sb-validations="required,email"#}
{#            />#}
{#            <div class="invalid-feedback" data-sb-feedback="email:required">#}
{#              An email is required.#}
{#            </div>#}
{#            <div class="invalid-feedback" data-sb-feedback="email:email">#}
{#              Email is not valid.#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group mb-md-0">#}
{#            <!-- Phone number input-->#}
{#            <input#}
{#              class="form-control"#}
{#              id="phone"#}
{#              type="tel"#}
{#              placeholder="Your Phone *"#}
{#              data-sb-validations="required"#}
{#            />#}
{#            <div class="invalid-feedback" data-sb-feedback="phone:required">#}
{#              A phone number is required.#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#          <div class="form-group form-group-textarea mb-md-0">#}
{#            <!-- Message input-->#}
{#            <textarea#}
{#              class="form-control"#}
{#              id="message"#}
{#              placeholder="Your Message *"#}
{#              data-sb-validations="required"#}
{#            ></textarea>#}
{#            <div class="invalid-feedback" data-sb-feedback="message:required">#}
{#              A message is required.#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <!-- Submit success message-->#}
{#      <!---->#}
{#      <!-- This is what your users will see when the form-->#}
{#      <!-- has successfully submitted-->#}
{#      <div class="d-none" id="submitSuccessMessage">#}
{#        <div class="text-center text-white mb-3">#}
{#          <div class="fw-bolder">Form submission successful!</div>#}
{#          To activate this form, sign up at#}
{#          <br />#}
{#          <a href="https://startbootstrap.com/solution/contact-forms"#}
{#            >https://startbootstrap.com/solution/contact-forms</a#}
{#          >#}
{#        </div>#}
{#      </div>#}
{#      <!-- Submit error message-->#}
{#      <!---->#}
{#      <!-- This is what your users will see when there is-->#}
{#      <!-- an error submitting the form-->#}
{#      <div class="d-none" id="submitErrorMessage">#}
{#        <div class="text-center text-danger mb-3">Error sending message!</div>#}
{#      </div>#}
{#      <!-- Submit Button-->#}
{#      <div class="text-center">#}
{#        <button#}
{#          class="btn btn-primary btn-xl text-uppercase disabled"#}
{#          id="submitButton"#}
{#          type="submit"#}
{#        >#}
{#          Send Message#}
{#        </button>#}
{#      </div>#}
{#    </form>#}
  </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <img src="{% static 'mlp_website/assets/img/close-icon.svg' %}" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Dam Gate</h2>
              <p class="item-intro text-muted">
                Seymour Dam
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="{% static 'mlp_website/assets/img/portfolio/seymourDam.png' %}"
                alt="..."
              />
              <p>
                Marray Latta manufactured and installed a dam gate for the Seymour Dam in North Vancouver, BC.
              </p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  Water Utility
                </li>
                <li>
                  <strong>Category:</strong>
                  Manufacturing and Installation
                </li>
              </ul>
              <button
                class="btn btn-primary btn-xl text-uppercase"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <img src="{% static "mlp_website/assets/img/close-icon.svg" %}" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Retorts</h2>
              <p class="item-intro text-muted">
                Retorts used in the canning process.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="{% static "mlp_website/assets/img/portfolio/canningMachineRetort.png" %}"
                alt="..."
              />
              <p>
                Murray Latta manufactures durable retorts for used in the canning process. Murray Latta takes pride in delivering well manufacture durable equipment for any application.
              </p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  Fish Cannery
                </li>
                <li>
                  <strong>Category:</strong>
                  Custom Industrial Manufacturing
                </li>
              </ul>
              <button
                class="btn btn-primary btn-xl text-uppercase"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <img src="{% static "mlp_website/assets/img/close-icon.svg" %}" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Laser Alignment</h2>
              <p class="item-intro text-muted">
                Laser aligment of mining drum equipment.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="{% static "mlp_website/assets/img/portfolio/laserAlignment.png" %}"
                alt="..."
              />
              <p>
                Murray Latta provides on-site precision laser alignment as part of its on-site millwright services.
              </p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  Mining Company
                </li>
                <li>
                  <strong>Category:</strong>
                  Millwright services
                </li>
              </ul>
              <button
                class="btn btn-primary btn-xl text-uppercase"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal4"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <img src="{% static "mlp_website/assets/img/close-icon.svg" %}" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Severe Service Knife Gate Valves</h2>
              <p class="item-intro text-muted">
                Durable severe service knife gate valves for petroleum applications.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="{% static "mlp_website/assets/img/portfolio/knifeGateValves.png" %}"
                alt="..."
              />
              <p>
                Murray Latta provides severe service knife gate valves to the oil sands, providing high quality and durable valves that perform when it counts.
              </p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  Petroleum Manufacturer
                </li>
                <li>
                  <strong>Category:</strong>
                  Durable Precision Manufacturing
                </li>
              </ul>
              <button
                class="btn btn-primary btn-xl text-uppercase"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal5"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <img src="{% static "mlp_website/assets/img/close-icon.svg" %}" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Forestry Planer Side Head</h2>
              <p class="item-intro text-muted">
                Precision forestry components and parts.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="{% static "mlp_website/assets/img/portfolio/sideHead.png" %}"
                alt="..."
              />
              <p>
                Murray Latta Manufactures planer cyclinders and side heads for the forestry industry. Murray Latta also provides replacement knives and other products.
              </p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  Lumber Mill
                </li>
                <li>
                  <strong>Category:</strong>
                  Precision Forestry Products
                </li>
              </ul>
              <button
                class="btn btn-primary btn-xl text-uppercase"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal6"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <img src="{% static "mlp_website/assets/img/close-icon.svg" %}" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Turbine</h2>
              <p class="item-intro text-muted">
                Hydroelectric turbine installation.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="{% static "mlp_website/assets/img/portfolio/turbine.png" %}"
                alt="..."
              />
              <p>
                Murray Latta installed a 25,000 lb turbine to generate hydroelectric energy in North Vancouver.
              </p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  Power Utility
                </li>
                <li>
                  <strong>Category:</strong>
                  Precision Installation
                </li>
              </ul>
              <button
                class="btn btn-primary btn-xl text-uppercase"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}